*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    padding: 3rem 3rem;
  }
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .container-top img{
      height: 200px;
      width: 200px;
      border-radius: 20px;
  }
  .container-top h1{
      font-size: 24px;
      color: #4E5150;
      padding-bottom: 10px;
      letter-spacing: 2px;
  }
  .container-top p{
    font-size: 14px;
    color: #A9A9A9;
    text-align: center;
    font-weight: 500;
}
.card h2{
    font-size: 18px;
      color: #4E5150;

}
.card h3{
    font-size: 14px;
    color: #A9A9A9;

}
.container-mid{
    display: flex;
    justify-content: space-between;
    
    margin-top: 30px;
    margin-bottom: 50px;
    
}
.card{
    
    width: 100px;
    background-color: #E5E5E5;
    text-align: center;
    border-radius: 15px;
    padding: 10px 0;
    margin: 10px;
    
}
.grid{
    display: grid;
    width: 75%;
    height: 100%;
    grid-gap: 2rem;
    grid-template-areas: 
        'p1 p2 p2'
        'p3 p3 p4'
        'p5 p6 p4'
    ;
}
.grid img{
    width: 100%;
    height: 100%;
    border-radius:15px ;
    
}
.grid img:hover{
    opacity: .5;
}
.p1{grid-area: p1;}
.p2{grid-area: p2;}
.p3{grid-area: p3;}
.p4{grid-area: p4;}
.p5{grid-area: p5;}
.p6{grid-area: p6;}

/*footer{
   
    position: absolute;
    
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #BDBDBD;
}
*/
footer{
    color: #BDBDBD;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}


    

@media (max-width: 800px){
    body{
        padding: 3rem 0;
    }
    .grid{
        width: 90%;
        grid-gap: 1rem;
    }
    
}
